.video-modal {
    .modal-content {
        width: fit-content;
        margin: 0 auto;
        background-color: #181818;
        .modal-body {
            display: flex;
            justify-content: center;
            background-color: #181818;
        }
    }
}
.ytp-gradient-top {
    display: none !important;
}
.ytp-chrome-top,
.ytp-show-cards-title {
    display: none !important;
}
.ytp-pause-overlay,
.ytp-scroll-min {
    display: none !important;
    visibility: hidden;
}
