.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg") center no-repeat;
    background-size: cover;
    .loginScreen__logo {
        position: fixed;
        left: 0;
        width: 150px;
        object-fit: contain;
        padding-left: 20px;
    }
    .loginScreen__button {
        position: fixed;
        right: 20px;
        top: 20px;
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: #e50914;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }
    .loginScreen__gradient {
        width: 100%;
        z-index: 1;
        height: 100vh;
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0.3) 60%,
            rgba(0, 0, 0, 0.8) 100%
        );
    }
    .loginScreen__body {
        position: absolute;
        top: 20%;
        z-index: 1;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #fff;
        padding: 20px;
        left: 0;
        right: 0;
        width: 100%;
        h1 {
            padding: 20px;
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .loginScreen__input {
            form {
                input {
                    padding: 10px;
                    outline-width: 0;
                    height: 30px;
                    border: none;
                    max-width: 600px;
                    width: 30%;
                }
                .loginScreen__getStarted {
                    padding: 10px 20px;
                    height: 30px;
                    font-size: 1rem;
                    color: #fff;
                    background-color: #e50914;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}
