.banner {
    height: 600px;
    position: relative;
    color: white;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    .banner__contents {
        padding-left: 30px;
        padding-right: 30px;
        //padding-top: 140px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 8rem;
        z-index: 100;
        .banner__title {
            font-size: 4rem;
            font-size: 5vw;
            font-weight: 800;
            text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
        }
        .banner__description {
            width: 45rem;
            line-height: normal;
            padding-top: 1rem;
            max-width: 400px;
            margin-bottom: 1rem;
            font-size: 0.8rem;
            font-weight: 400;
            font-size: 1.4vw;
            text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
        }
        .banner__buttons {
            display: flex;
            .banner__button {
                cursor: pointer;
                color: #fff;
                outline: none;
                border: none;
                font-weight: 700;
                border-radius: 5px;
                padding: 0.5rem 2rem;
                margin-right: 1rem;
                background-color: rgba(51, 51, 51, 0.5);
                display: flex;
                align-items: center;
                transition: all 0.3s;
                .icon-button {
                    margin-right: 0.5rem;
                    &.icon-info {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                }
                &.play-button {
                    background-color: white;
                    color: #111;
                    &:hover {
                        background-color: #ccd1d6;
                    }
                }
                &.info-button {
                    background-color: rgba(109, 109, 110, 0.7);
                    &:hover {
                        background-color: rgba(109, 109, 110, 0.4);
                    }
                }
            }
        }
        @media (max-width: 800px) {
            .banner__description {
                font-size: 2vw;
            }
        }
        @media (max-width: 520px) {
            .banner__description {
                width: auto;
            }
        }
        @media (max-width: 600px) {
            .banner__title {
                font-size: 6vw;
            }
            .banner__description {
                font-size: 3vw;
            }
        }
        @media (max-width: 400px) {
            .banner__buttons {
                .banner__button {
                    padding: 0.3rem 1rem;
                    font-size: 0.9rem;
                    .icon-button {
                        width: 0.7rem !important;
                        height: 0.7rem !important;
                        &.icon-info {
                            width: 1rem !important;
                            height: 1rem !important;
                        }
                    }
                }
            }
        }
    }
    .banner--fadeBottom {
        flex-grow: 1;
        height: 30%;
        position: absolute;
        width: 100%;
        bottom: 0;
        background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
    }
}
