.movie-info-modal {
    color: white;
    .modal-content {
        border-radius: 10px;
        background-color: #181818;
        .modal-header {
            background-color: #181818;
        }
        .modal-body {
            background-color: #181818;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 0;
            position: relative;
            .btn-close {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 2.2rem;
                height: 2.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 50rem;
                .icon-close {
                    width: 2.2rem;
                    height: 2.2rem;
                    color: #111;
                }
            }
            .movie-image {
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .banner--fadeBottom {
                height: 10rem;
                margin-top: -10rem;
                background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
            }
            .banner-content {
                padding: 2rem;
                margin-top: -10rem;
                h2 {
                    margin-bottom: 1rem;
                }
                .action-group {
                    display: flex;
                    align-items: center;
                    .banner__button {
                        cursor: pointer;
                        color: #fff;
                        outline: none;
                        border: none;
                        font-weight: 700;
                        border-radius: 5px;
                        padding: 0.5rem 2rem;
                        margin-right: 1rem;
                        background-color: rgba(51, 51, 51, 0.5);
                        display: flex;
                        align-items: center;
                        transition: all 0.3s;
                        .icon-button {
                            margin-right: 0.5rem;
                            &.icon-info {
                                width: 1.2rem;
                                height: 1.2rem;
                            }
                        }
                        &.play-button {
                            background-color: #e6e6e6;
                            color: #111;
                            &:hover {
                                background-color: #ccd1d6;
                            }
                        }
                        &.info-button {
                            background-color: rgba(109, 109, 110, 0.7);
                            &:hover {
                                background-color: rgba(109, 109, 110, 0.4);
                            }
                        }
                    }
                    .movie-btn {
                        background-color: #232323;
                        border-radius: 500rem;
                        border: 1px solid #919191;
                        padding: 0.1rem;
                        width: 2.5rem;
                        height: 2.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 0.6rem;
                        cursor: pointer;
                        transition: all 0.2s;
                        .icon-btn {
                            width: 1.5rem;
                            height: 1.5rem;
                            &.icon-play {
                                width: 0.9rem;
                                height: 0.9rem;
                            }
                        }
                        &:hover {
                            border-color: white;
                        }
                    }
                }
            }
            .movie-detail {
                margin-top: 1rem;
                margin-bottom: 1rem;
                .row {
                    margin: 0;
                    padding: 0 1rem;
                    .info-col {
                        display: flex;
                        flex-direction: column;
                        .movie-props {
                            font-size: 1rem;
                            display: flex;
                            align-items: center;
                            margin-top: 0.5rem;
                            margin-bottom: 1rem;
                            .age-limit {
                                margin-right: 1rem;
                                border: 1px solid white;
                                padding: 0rem 0.2rem;
                            }
                            .time {
                                margin-right: 1rem;
                            }
                            .quality {
                                font-size: 0.8rem;
                                border: 1px solid white;
                                padding: 0rem 0.2rem;
                                border-radius: 3px;
                            }
                        }
                        .movie-description {
                            font-size: 1.1rem;
                        }
                        .cast-group {
                            margin-bottom: 0.6rem;
                            font-size: 0.9rem;
                            .title {
                                color: gray;
                                display: inline-block;
                            }
                            .cast-name {
                                margin-left: 0.4rem;
                                cursor: pointer;
                                font-weight: normal;
                                &:hover {
                                    transition: all 0.2s;
                                    text-decoration: underline;
                                }
                            }
                            .more {
                                margin-left: 0.4rem;
                                font-weight: normal;
                                cursor: pointer;
                                &:hover {
                                    font-style: italic;
                                }
                            }
                        }
                    }
                }
            }
            .suggestion-group {
                padding: 0 2rem;
                margin-bottom: 2rem;
                h3 {
                    margin-bottom: 1rem;
                }
                .row {
                    margin: 0;
                    .suggest-item {
                        margin-bottom: 1rem;
                        padding: 0 0.5rem;
                        .suggestion-content {
                            background-color: #2f2f2f;
                            display: flex;
                            flex-direction: column;
                            border-radius: 5px;

                            .overview-group {
                                padding: 0.5rem;
                                display: flex;
                                align-items: center;
                                .limit {
                                    border: 1px solid white;
                                    padding: 0 0.5rem;
                                    margin-right: 0.5rem;
                                }
                                .movie-btn {
                                    background-color: #2f2f2f;
                                    border-radius: 500rem;
                                    border: 1px solid #919191;
                                    padding: 0.1rem;
                                    width: 2.5rem;
                                    height: 2.5rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-left: 0.6rem;
                                    cursor: pointer;
                                    transition: all 0.2s;
                                    .icon-btn {
                                        width: 1.5rem;
                                        height: 1.5rem;
                                        &.icon-play {
                                            width: 0.9rem;
                                            height: 0.9rem;
                                        }
                                    }
                                    &:hover {
                                        border-color: white;
                                    }
                                }
                            }
                            .movie-description {
                                padding: 0.5rem;
                            }
                        }
                    }
                }
            }
            .more--fadeBottom {
                margin: 0 2rem;
                height: 3rem;
                z-index: 3;
                margin-top: -6rem;
                background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
            }
            .line-container {
                padding: 0 2rem;
                width: 100%;
                .line {
                    height: 1.5px;
                    background-color: white;
                    padding: 0 2rem;
                    width: 100%;
                    opacity: 0.8;
                }
            }
            .loadmore-btn {
                align-self: center;
                background-color: #232323;
                border-radius: 500rem;
                border: 1px solid #919191;
                padding: 0.1rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0.6rem;
                cursor: pointer;
                transition: all 0.2s;
                margin-bottom: 2rem;
                margin-top: -1.3rem;
                z-index: 10;
                .icon-btn {
                    width: 1.5rem;
                    height: 1.5rem;
                    &.icon-play {
                        width: 0.9rem;
                        height: 0.9rem;
                    }
                }
                &:hover {
                    border-color: white;
                }
            }
            .movie-super-detail {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                padding: 0 2rem;
                .title {
                }
                .cast-group {
                    margin-bottom: 0.3rem;
                    font-size: 0.9rem;
                    .title {
                        color: gray;
                        display: inline-block;
                        font-weight: 500;
                    }
                    .limit {
                        display: inline-block;
                        margin: 0 1rem;
                        border: 1px solid white;
                        padding: 0 0.5rem;
                    }
                    .cast-name {
                        margin-left: 0.4rem;
                        cursor: pointer;
                        font-weight: 500;
                        &:hover {
                            transition: all 0.2s;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .modal-footer {
            background-color: #181818;
        }
    }
}
