.movie-info-modal {
    color: white;
    .modal-content {
        border-radius: 10px;
        background-color: #181818;
        .modal-header {
            background-color: #181818;
        }
        .modal-body {
            background-color: #181818;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 0;
            position: relative;
            .btn-close {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 2.2rem;
                height: 2.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 50rem;
                .icon-close {
                    width: 2.2rem;
                    height: 2.2rem;
                    color: #111;
                }
            }
        }
        .modal-footer {
            background-color: #181818;
        }
    }
}
