.popularPage {
    padding-top: 5rem;
    color: white;
    .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1.5rem;
        .popular-title {
            margin: 0.5rem 0rem;
            margin-left: 2rem;
        }
        .btn-group {
            margin: 0.5rem 2rem;
            button {
                background-color: transparent;
                &.active {
                    background-color: #e50914;
                    font-weight: bold;
                }
            }
        }
    }
}
