.movie-item {
    flex-basis: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0rem !important;
    margin: 0 0.2rem !important;
    transition: all 1s;
    display: flex;
    flex-direction: column;

    transform: scale(1);
    img {
        height: 100%;
        width: 100%;
    }
    .movie-info {
        display: none;
        background-color: #181818;
        width: 100%;

        opacity: 0;
    }
    &:hover {
        transform: scale(1.5, 1.5);
        z-index: 2;
        box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
        //transition-delay: 0.7s;
        img {
            //width: 8rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .movie-info {
            transition: all 1s;
            //transition-delay: 1s;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            display: block;
            padding: 0.5rem;
            flex-grow: 1;
            opacity: 1;
            .actions-group {
                display: flex;
                //justify-content: space-between;
                margin-top: 0.3rem;
                .movie-btn {
                    background-color: #232323;
                    border-radius: 500rem;
                    border: 1px solid #919191;
                    padding: 0.1rem;
                    width: 1.7rem;
                    height: 1.7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0.4rem;
                    cursor: pointer;
                    transition: all 0.2s;
                    .icon-btn {
                        width: 1rem;
                        height: 1rem;
                        &.icon-play {
                            width: 0.9rem;
                            height: 0.9rem;
                        }
                    }
                    &:hover {
                        border-color: white;
                    }
                }
            }
            .detail-info {
                font-size: 0.7rem;
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                .age-limit {
                    margin-right: 0.5rem;
                    border: 1px solid white;
                    padding: 0rem 0.2rem;
                }
                .time {
                    margin-right: 0.5rem;
                }
                .quality {
                    font-size: 0.5rem;
                    border: 1px solid white;
                    padding: 0rem 0.2rem;
                    border-radius: 3px;
                }
            }
            .genres-group {
                margin-top: 0.5rem;
                display: flex;
                align-items: center;
                .genre {
                    color: white;
                    font-size: 0.7rem;
                }
                .divider {
                    background-color: #646464;
                    margin: 0 0.5rem;
                    width: 0.3rem;
                    height: 0.3rem;
                    border-radius: 50px;
                    margin-bottom: -0.2rem;
                }
            }
        }
    }
    &:first-child {
        transform-origin: left center;
    }
    &:last-child {
        transform-origin: right center;
    }
}
