.nav__bar {
    position: fixed;
    top: 0;
    height: 4rem;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    /*animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    &.is_shown {
        background-color: #0e0e0e;
    }
    .nav__contents {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0rem 2rem;
        .nav__leftContents {
            display: flex;
            align-items: center;
            height: 100%;
            .nav__logo {
                //position: fixed;
                //left: 0;
                //top: 15px;
                width: 8rem;
                cursor: pointer;
                object-fit: contain;
                margin-right: 2rem;
            }
            .dropdown {
                display: none;
                .dropdown-toggle {
                    margin-right: 1rem;
                    background-color: transparent;
                    color: white;
                    font-weight: bold;
                    font-size: 1rem;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    outline: none;
                    align-items: center;

                    .icon-arrow {
                        margin-left: 0.5rem;
                    }
                }
                .dropdown-menu {
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.5rem;
                    .dropdown-item {
                        text-decoration: none;
                        color: white;
                        padding: 1rem 3rem;
                        text-align: center;
                        transition: all 0.3s;
                        background-color: rgba(0, 0, 0, 0.7);
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }
            .nav_link {
                text-decoration: none;
                font-size: 1rem;
                color: white;
                margin-right: 1rem;
                cursor: pointer;
                transition: all 0.3s;
                &.active {
                    background-color: #e50914;
                    padding: 0rem 0.6rem;
                    padding-bottom: 0.1rem;
                    border-radius: 5px;
                    font-weight: 600;
                }
            }

            @media (max-width: 1100px) {
                .dropdown {
                    display: block;
                }
                .nav_link {
                    display: none;
                }
            }
        }

        .nav__rightContents {
            display: flex;
            align-items: center;
            height: 100%;
            .search-bar {
                display: flex;
                align-items: center;
                margin-right: 1rem;
                transform: scaleX(0);
                //width: 0;
                transition: all 0.5s;
                .input-icon {
                    color: white;
                    margin-right: -1.5rem;
                    z-index: 1;
                    cursor: pointer;
                }
                input {
                    height: 1.5rem;
                    width: 13rem;
                    background-color: rgba(0, 0, 0, 0.5);
                    border: 1px solid white;
                    color: white;
                    padding-left: 2rem;
                }
                &.show {
                    transform: scaleX(1);
                    transform-origin: right center;

                    //width: auto;
                }
                &.hidden {
                    transform: scaleX(0);
                    transform-origin: right center;
                    //width: 0;
                }
            }
            .nav__icon {
                color: white;
                width: 1.3rem;
                height: 1.3rem;
                margin-right: 1rem;
                cursor: pointer;
                &.icon-noti {
                    &:hover {
                        transition: all 0.2s;
                        color: rgba(white, 0.7);
                    }
                }
            }
            .icon-search {
                transition: all 1s;

                &.hidden {
                    display: none;
                }
            }
            .noti-dropdown {
                .noti-toggle {
                    outline: none !important;
                    border: none;
                    padding: 0;
                    box-shadow: none !important;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;
                    &::after {
                        display: none;
                    }
                    .icon-noti {
                        margin-right: 0;
                    }
                }
                .dropdown-menu {
                    background-color: #131111;
                    width: 25rem;
                    border: 1px solid rgba(white, 0.5);
                    .dropdown-item-text {
                        width: 100%;
                        color: white;
                        .header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            align-items: flex-end;
                            .title {
                                margin-right: 3rem;
                                font-size: 1.2rem;
                            }
                            .clear-btn {
                                transition: all 0.6s;
                                cursor: pointer;
                                &:hover {
                                    transition: all 0.6s;
                                    text-decoration: underline;
                                }
                            }
                        }
                        .see-all-btn {
                            margin: 0 auto;
                            cursor: pointer;
                            &:hover {
                                transition: all 0.6s;
                                text-decoration: underline;
                            }
                        }
                        &:last-child {
                            display: flex;
                            justify-content: center;
                        }
                    }
                    .dropdown-item {
                        color: white;
                        padding: 0.5rem 1.5rem;
                        &:hover,
                        &:active,
                        &:focus {
                            background-color: rgba(gray, 0.6);
                        }
                        &.profile-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .content-left {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 1.7rem;
                                    height: 1.7rem;
                                    border-radius: 5px;
                                    margin-right: 0.5rem;
                                }
                            }
                            .icon-lock {
                                width: 1.2rem;
                                height: 1.2rem;
                            }
                        }
                        &.action-item {
                            display: flex;
                            align-items: center;
                            .icon-action {
                                margin-right: 0.7rem;
                            }
                        }
                    }
                    .list-noti {
                        max-height: 20rem;
                        overflow-y: auto;
                        .noti-item {
                            display: flex;
                            align-items: center;
                            padding: 0.5rem 1rem;
                            transition: all 0.3s;
                            .status {
                                background-color: rgba(#e50914, 0.7);
                                height: 0.5rem;
                                width: 0.5rem;
                                border-radius: 50rem;
                                margin-right: 1rem;
                            }
                            img {
                                width: 7rem;
                                height: 3.5rem;
                            }
                            .detail-group {
                                display: flex;
                                flex-direction: column;
                                width: 8rem;
                                flex-grow: 1;
                                padding-left: 1rem;
                                color: white;
                                .message {
                                    //width: 12rem;
                                }
                                .time {
                                    font-weight: bold;
                                    font-size: 0.8rem;
                                    color: gray;
                                }
                            }
                            &:hover {
                                cursor: pointer;
                                background-color: rgba(gray, 0.1);
                            }
                            &.new {
                                background-color: rgba(gray, 0.3);
                                &:hover {
                                    cursor: pointer;
                                    background-color: rgba(gray, 0.2);
                                }
                            }
                        }
                        .empty-noti {
                            color: white;
                            display: flex;
                            justify-content: center;
                            font-style: italic;
                        }
                    }
                }
            }
            .profile-dropdown {
                .profile-toggle {
                    outline: none !important;
                    border: none;
                    padding: 0;
                    box-shadow: none !important;
                    &::after {
                        display: none;
                    }
                }
                .dropdown-menu {
                    background-color: #131111;
                    border: 1px solid rgba(white, 0.5);
                    .dropdown-item-text {
                        color: white;
                    }
                    .dropdown-item {
                        color: white;
                        padding: 0.5rem 1.5rem;
                        &:hover,
                        &:active,
                        &:focus {
                            background-color: rgba(gray, 0.6);
                        }
                        &.profile-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .content-left {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 1.7rem;
                                    height: 1.7rem;
                                    border-radius: 5px;
                                    margin-right: 0.5rem;
                                }
                            }
                            .icon-lock {
                                width: 1.2rem;
                                height: 1.2rem;
                            }
                        }
                        &.action-item {
                            display: flex;
                            align-items: center;
                            .icon-action {
                                margin-right: 0.7rem;
                            }
                        }
                    }
                }
            }
            .nav__avatar {
                width: 2rem;
                height: 2rem;
                cursor: pointer;
            }
        }
    }
}
