.newRow {
    color: white;
    h2 {
        margin: 1rem 0;
        margin-left: 20px;
    }
    .row__posters {
        // display: flex;
        // overflow-y: hidden;
        // overflow-x: scroll;
        .horizontal-menu {
            .scroll-menu-arrow {
                height: 5rem;
                width: 4rem;
                display: flex;
                align-items: center;
                z-index: 10;
                .arrow-prev {
                }
                .arrow-next {
                }
            }
            .menu-wrapper {
                padding: 2rem 0;
                .menu-item-wrapper {
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.5);
                        z-index: 10;
                    }
                    .row__poster {
                        height: 9rem;
                        margin-right: 0.5rem;
                        transform: scale(1);
                    }
                    &:first-child {
                        transform-origin: left center;
                        .row__poster {
                        }
                    }
                }
            }
        }
    }
}
