.profile{

}
.profileimage{
    cursor: pointer;
}
.profileimage:hover{
    border: 1px solid white;
}
.profile>.profileScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile>.profileScreen>label{
    font-size: 200%;
    font-weight: 700;
    color:#fff;
}
.profile>.profileScreen>button{
    font-size: 1.5rem;
    color:gray;
    background-color:transparent;
    border:1px solid gray;
    border-color: gray;
    border-radius: 5px;
    margin: 30px;
    padding: 0 1rem;
    transition: all 0.2s;
}
.profile>.profileScreen>button:hover{
    color:white;
}

.profile>.profileScreen_logo{
    left: 0;
    min-width: 100px;
    max-width: 15%;
    object-fit: contain;
    padding-left: 20px;
}
.profile>.profileScreen>.profileContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile>.profileScreen>.profileContainer>.profileimage{
    padding:5px;
    margin: 5px;
    width: 15%;
    max-width: 300px;
    border-radius: 5px;
}
